<footer class="main-footer">
  <strong
    >Copyright &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    <a href="/admin/dashboard">Music Player</a>.
  </strong>
  All rights reserved.
</footer>
